
/* Your CSS Code here. */
    
.holder {
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
}


    .item {
      background-color: lightblue;
      border: 1px solid blue;
      text-align: center;
      line-height: 100px;
    }